:root{
  --accent-color: #7EB693;
  --primary-color: #274C5B;
  --global-color: #525C60;
}

html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
a{
  color: inherit;
  text-decoration: none;
}
li{
  list-style-type: none;
}

body{
  font-family: "Roboto", serif;
  font-size: 18px;
  line-height: 32px;
  color: var(--global-color);
  overflow-x: hidden;

  /* font-family: "Open Sans", serif; */
  /* font-family: "Yellowtail", serif; */
}

.container{
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
}
.intro{
  color: var(--accent-color);
  font-family: "Yellowtail", serif;
  font-size: 36px;
  line-height: 65px;
  text-transform: capitalize;
}
.title{
  font-weight: bold;
  color: var(--primary-color);
  font-size: 45px;
  line-height: 58px;
}
.button-link{
  display: inline-block;
  font-size: 19px;
  padding: 25px 70px 25px 33px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 16px;
  position: relative;
}
.button-link::after{
  content: url(../images/arrow.png);
  position: absolute;
  right: 7px;
}
.button-link:hover{
  opacity: .9;
}
.button-link-yellow{
  background-color: #EFD372;
  border: 1px solid var(--accent-color);
  color: var(--primary-color);
}

.header{
  padding: 40px 0;
  color: var(--primary-color);
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list{
  display: flex;
  gap: 40px;
  margin-left: 120px;
  margin-right: auto;
  font-size: 19px;
}
.header__nav-link:hover{
  color: var(--accent-color);
}
.header__cart{
  display: flex;
  align-items: center;
  gap: 13px;
  border: 1px solid #D4D4D4;
  border-radius: 33px;
  padding: 7px 11px;
}
.header__cart-img{
  width: 56px;
  height: 56px;
}
.header__cart-text{
  font-size: 17px;
  line-height: 29px;
}

.top{
  background-image: url(../images/bg-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 140px;
}
.top__inner{
  padding-top: 220px;
  padding-bottom: 250px;
}
.top-intro{
  margin-bottom: 14px;
}
.top-title{
  font-size: 70px;
  line-height: 84px;
  max-width: 500px;
  margin-bottom: 50px;
}

.get{
  margin-bottom: 140px;
}
.get__inner{
  display: flex;
  gap: 50px;
}
.get__card{
  position: relative;
}
.get__card-img{
  width: 100%;
}
.get__card-content{
  position: absolute;
  top: 105px;
  left: 55px;
  z-index: 1;
}
.get-title{
  max-width: 295px;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
}
.intro-white,
.title-white{
  color: #fff;
}

.about{
  background-color: #F9F8F8;
  margin-bottom: 120px;
}
.about__inner{
  display: flex;
  gap: 30px;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 140px;
}
.about__title{
  max-width: 521px;
  margin-bottom: 22px;
}
.about__text{
   font-family: "Open Sans", serif;
   max-width: 655px;
   margin-bottom: 56px;
}
.about__list{
  padding-bottom: 25px;
}
.about__item{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 25px;
}
.about__item-content{
  max-width: 490px;
}
.about__item-title{
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  margin-bottom: 9px;
}
.products{
  margin-bottom: 140px;
}
.products__intro,
.products-title{
  text-align: center;
}
.products-title{
  margin-bottom: 42px;
}
.products__list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: 30px 20px;
}
.product{
  background-color: #F9F8F8;
  padding: 67px 20px 20px;
  border-radius: 30px;
  position: relative;
}
.product__img{
  margin-bottom: 20px;
}
.product__name{
  font-size: 22px;
  line-height: 35px;
  font-weight: normal;
  padding-bottom: 11px;
  border-bottom: 1px solid #B8B8B8;
  margin-bottom: 9px;
}
.product__info{
  display: flex;
  align-items: center;
  gap: 10px;

}
.product__info-img{
  margin-left: auto;
}
.product__old-price{
  font-size: 17px;
  font-family: "Open Sans", serif;
  color: #B8B8B8;
  text-decoration: line-through;
}
.product__new-price{
  font-family: "Open Sans", serif;
  font-weight: bold;
}
.product__category{
  position: absolute;
  top: 30px;
  left: 20px;
  display: inline-block;
  padding: 5px 20px;
  background-color: var(--primary-color);
  font-family: "Open Sans", serif;
  color: #fff;
  font-size: 15px;
  line-height: 27px;
  font-weight: 500;
  border-radius: 8px;
}

.testimonial{
  background-image: url(../images/testimonial-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}
.testimonial__inner{
  padding-top: 130px;
  text-align: center;
}
.testimonial-title{
  margin-bottom: 60px;
}
.teatimonial__customer{
  padding-bottom: 95px;
  max-width: 966px;
  border-bottom: 1px solid #E0E0E0;
  margin: 0 auto 100px auto;
}
.teatimonial__customer-photo{
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
}
.testimonial__customer-stars{
  margin-bottom: 30px;
}
.testimonual__customer-text{
  font-family: "Open Sans", serif;
  max-width: 880px;
  margin: 0 auto;
  margin-bottom: 23px;
}
.testimonial__custoner-name{
  font-size: 26px;
  line-height: 33px;
  font-weight: bold;
}
.teatimonial__buyer{
  font-family: "Open Sans", serif;
  font-size: 14px;
  line-height: 27px;
}

.advantages{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.offer{
  padding-top: 140px;
  padding-bottom: 160px;
  background-color: #274C5B;
}
.title-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}
.products__list--offer{
  justify-content: space-between;
}

.eco{
  background-image: url(../images/eco-img.jpg);
  background-repeat: no-repeat;
  background-position: left;
  height: 704px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.eco__inner{
  max-width: 720px;
  margin-left: auto;
  margin-right: 70px;
  padding: 40px 45px 55px 60px;
  border-radius: 30px;
  background-color: #fff;
}
.eco-title{
  max-width: 301px;
  margin-bottom: 30px;
}
.eco__item{
  margin-bottom: 9px;
}
.eco__item-title{
  font-size: 23px;
  margin-bottom: 4px;
}
.eco__item-text{
  font-family: "Open Sans", serif;
}

.assortment{
  padding-top: 140px;
  padding-bottom: 140px;
  margin-bottom: 130px;
  background-color: #EFF6F1;
}
.assortment__list{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.assortment__item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.assortment__link{
  position: absolute;
  font-size: 25px;
  line-height: 35px;
  background-color: #fff;
  padding: 30px 79px;
  border-radius: 20px;
  font-weight: bold;
}

.news{
  margin-bottom: 157px;
}
.title-news{
  margin-bottom: 10px;
}
.button-link--white{
  display: inline-block;
  background-color: #fff;
  color: #274C5B;
}
.news__list{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.news__item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news__item-img{
  width: 100%;
}
.news__item-content{
  position: absolute;
  top: 250px;
  background-color: #fff;
  margin-left: 30px;
  margin-right: 30px;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.14);
}
.news__item-author{
  font-size: 17px;
  line-height: 23px;
  padding-left: 28px;
  position: relative;
  margin-bottom: 10px;
}
.news__item-author:before{
  content: url(/images/news/person-ico.svg);
  position: absolute;
  left: 0;
}
.news__item-title{
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 38px;
  color: var(--primary-color);
}
.news__item-text{
  font-family: "Open Sans", serif;
  max-width: 430px;
  margin-bottom: 12px;
}
.news__item-link{
  font-size: 20px;
  line-height: 28px;
  color: var(--primary-color);
  padding-right: 30px;
  position: relative;
}
.news__item-link:before{
  content: url(/images/news/arrow-ico.svg);
  position: absolute;
  right: 0;
  top: 1px;
}

.subscribe{
  margin-bottom: 50px;
}
.subscribe__inner{
  background-image: url(/images/subscribe-bg.png);
  padding: 100px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 320px;
}
.subscribe__text{
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
  max-width: 323px;
  color: #fff;
}
.input{
  width: 350px;
  padding: 27px 30px;
  border: none;
  border-radius: 16px;
  font-size: 18px;
  line-height: 29px;
  margin-right: 10px;
}
.input::placeholder{
  font-size: 18px;
  line-height: 29px;
  color: var(--global-color);
  font-family: "Open Sans", serif;
}
.button-link--subscribe{
  font-weight: bold;
}

.footer{
 
}
.footer__inner{
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.footer__contact{
  width: 270px;
  text-align: right;
}
.footer-title{
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 34px;
}
.footer__contact-title{
  font-weight: bold;
  line-height: 23px;
}
.footer__contact-list{
  font-family: "Open Sans", serif;
}
.footer__contact-item{
  margin-bottom: 40px;
}
.footer__logo{
  margin-bottom: 40px;
}
.footer__social{
  text-align: center;
  border-right: 1px solid #D5D5D5;
  border-left: 1px solid #D5D5D5;
}
.footer__social-text{
  max-width: 530px;
  font-family: "Open Sans", serif;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}
.footer__social-list{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.footer__utility{
  width: 270px;
}
.footer__utility-item{
  margin-bottom: 24px;
  font-family: "Open Sans", serif;
  line-height: 28px;
}
.footer__bottom{
  border-top: 1px solid #D5D5D5;
  padding: 21px 30px 28px 30px;
  text-align: center;
  font-family: "Open Sans", serif;
  display: flex;
  justify-content: center;
}
.footer__bottom-copyright-link{
  color: var(--primary-color);
}

.header__button{
  display: none;
}
.header__button--close{
  display: none;
}


@media(max-width: 1350px){
  .product__img{
    display: block;
    width: 90%;
    margin: 0 auto 20px auto;
  }

  .assortment__img{
    width: 100%;
  }

  .title-news{
    max-width: 600px;
  }

  .news__item-content {
    top: 170px;
    padding: 30px;
  }
  
}
@media (max-width: 1200px) {
  .top{
    margin-bottom: 100px;
  }
  .get__inner {
    gap: 20px;
  }
  .get__card-content {
    top: 60px;
    left: 40px;
  }
  .get {
    margin-bottom: 100px;
  }

  .about-img{
    width: 50%;
  }

  .product__img{
    width: 90%;
  }

  .advantages{
    gap: 10px;
  }
  .advantages__img{
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  .subscribe__inner{
    padding: 100px 20px;
  }
}

@media (max-width: 1050px) {
  .header__nav-list {
    margin-left: auto;
    gap: 20px;
  }
  .header__cart-img{
    max-width: 40px;
    max-height: 40px;
  }
  .logo__img{
    width: 170px;
    display: block;
  }
  .get__inner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .get__card-content {
    top: 120px;
  }

  .about__inner {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 50px;
    position: relative;
  }
  .about__content{
    position: absolute;
    top: 30px;
  }
  .about-img{
    width: 85%;
    opacity: .1;
  }
  .about__title {
    max-width: 100%;
  }
  .about__text {
    max-width: 100%;
  }
  .about__list {
    display: flex;
    gap: 30px;
  }

  .products__list{
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonual__customer-text{
    max-width: 600px;
  }

  .offer{
    padding-top: 50px;
    padding-bottom: 90px;
  }

  .assortment__link{
    padding: 20px 40px;
  }

  .news__list{
    flex-wrap: wrap;
    gap: 100px;
  }
  .news__item-content{
    top: 266px;
    padding: 30px;
  }

  .subscribe__inner{
    flex-wrap: wrap;
  }
  .subscribe__text{
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 920px){
  .about-img {
    width: 100%;
  }

  .title{
    font-size: 40px;
    line-height: 50px;
  }

  .eco__inner{
    margin-right: 0;
  }

  .title-block{
    flex-wrap: wrap;
  }
  .title-news{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 860px){
  .container {
    padding: 0px 15px;
  }
  .logo__img{
    width: 150px;
  }
  .header__cart-img {
    max-width: 35px;
    max-height: 35px;
  }

  .assortment{
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 88px;
  }
  .assortment__list{
    display: block;
  }
  .assortment__img{
    width: 55%;
  }
  .assortment__item{
    margin-bottom: 15px;
  }

 
}

@media (max-width: 768px){
  .header {
    padding: 20px 0;
  }
  .header__cart {
    order: -1;
  }
  .header__button{
    display: block;
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
  }
  .header__button span{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #274C5B;
  }
  .line-one{
    top: 0;
  }
  .line-third{
    bottom: 0;
  }
  .header__nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--accent-color);
    text-align: center;
    padding-top: 90px;
    padding-bottom: 20px;
    z-index: 2;
  }
  .header__nav--active.header__nav{
    display: flex;
  }
  .header__button--close{
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    z-index: 1;
    padding: 0;
    margin: 0;
  }
  .line-close{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--global-color);
    position: absolute;
    top: 50%;
  }
  .line-close:first-child{
    transform: rotate(45deg);
  }
  .line-close:last-child{
    transform:  rotate(-45deg);
  }
  .header__nav-list{
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
    font-size: 19px;
    padding-bottom: 20px;
  }
  .header__nav-item{
    margin-bottom: 15px;
    font-size: 23px;
    width: 100%;
  }
  .header__nav-link:hover{
    color: var(--global-color);
    font-size: 25px;
  }

  .top__inner {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .top-title {
    font-size: 55px;
    line-height: 70px;
  }

  .about{
    padding-top: 30px;
  }
  .about-img{
    padding-top: 150px;;
  }
  .about__text {
    margin-bottom: 25px;
  }
  .about__content{
    top: 10px;
  }
  .about__list{
    display: block;
  }
  .about__item{
    margin-bottom: 15px;
  }

  .products__list{
    grid-template-columns: repeat(1, 1fr);
  }
  .product{
    width: 70%;
    margin: 0 auto;
  }

  .advantages__img {
    width: 100%;
  }

  .testimonial{
    background-image: none;
    background-color: #F9F8F8;
    padding-bottom: 70px;
  }
  .testimonial__inner{
    padding-top: 60px;
  }
  .teatimonial__customer{
    padding-bottom: 50px;
    margin: 0px auto 50px auto;
  }

  .title-block {
    display: block;
  }
  .title-offer{
    margin-bottom: 20px;
  }

  .news__list{
    gap: 70px;
  }
  .news__item-content{
    margin: 0;
  }
  .news__item-title{
    font-size: 23px;
    line-height: 33px;
    margin-bottom: 15px;
  }

  .subscribe__text {
    font-size: 45px;
    line-height: 55px;
  }

  .footer__inner{
    gap: 10px;
  }
  .footer__social{
    margin-top: -10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer__social-text{
    display: none;
  }
  .footer__social-list{
    display: block;
  }
  .footer__logo{
    width: 150px;
    margin-bottom: 8px;
  }
  .footer-title{
    font-size: 20px;
    line-height: 25px;  
    margin-bottom: 25px;
  }
  .footer__contact,
  .footer__utility{
    text-align: center;
  }
  .footer__contact-item,
  .footer__utility-item {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 25px;
  }

  .footer__social-img{
    width: 45px;
    height: 45px;
  }
  .footer__inner{
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .footer__bottom {
    padding: 10px;
  }
  .footer__bottom-copyright{
    font-size: 15px;
  }
}

@media (max-width: 640px){
  .container{
    padding: 0px 10px;
  }
  .get__card-content {
    top: 90px;
  }

  .about-img {
    display: none;
  }
  .about__content{
    position: static;
  }

  .eco__inner{
    padding: 20px 30px 30px 40px;
  }

  .assortment__img{
    width: 75%;
  }

  .news__item-content{
    top: 200px;
  }
  .news__item-author {
    font-size: 15px;
    line-height: 21px;
    padding-left: 28px;
    position: relative;
    margin-bottom: 8px;
  }
  .news__item-title{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .news__item-text{
    font-size: 16px;
    line-height: 26px;
  }

  .subscribe__inner{
    display: block;
    height: auto;
    background-position: right;
    background-repeat: no-repeat;
    padding: 50px 20px;
  }
  .subscribe__text{
    font-size: 35px;
    line-height: 55px;
  }
  .input{
    width: 100%;
    padding: 20px 20px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .button-link{
    padding: 15px 70px 15px 25px;
  }
}

@media (max-width: 540px) {
  body{
    font-size: 17px;
    line-height: 29px;
  }
  .button-link{
    padding: 15px 60px 15px 25px;
  }
  .title {
    font-size: 33px;
    line-height: 43px;
  }

  .header__cart-text {
    font-size: 13px;
    line-height: 23px;
  }
  .header__cart-img {
    max-width: 30px;
    max-height: 30px;
  }
  .header__cart {
    gap: 5px;
    padding: 5px 10px;
  }
  .header__button{
    width: 30px;
    height: 18px;
  }

  .top{
    margin-bottom: 75px;
  }
  .top-title {
    font-size: 50px;
    line-height: 60px;
    max-width: 430px;
  }
  .top__inner{
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .get{
    margin-bottom: 75px;
  }
  .get-title{
      max-width: 200px;
      font-weight: normal;
      font-size: 27px;
      line-height: 35px;
  }
  .get__card-content{
    top: 55px;
    left: 25px;
  }
  .header__button--close{
    width: 30px;
    height: 30px;
  }

  .about__item{
    gap: 10px;
    margin-bottom: 30px;
  }
  .about__item-img{
    width: 80px;
  }
  .about__item-title{
    font-size: 22px;
    line-height: 32px;
  }
  .about__item-text{
    font-size: 16px;
    line-height: 25px;
  }

  .product{
    width: 100%;
  }

  .advantages{
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__img{
    width: 33%;
    margin: 0;
  }
  .testimonial__inner{
    padding-top: 30px;
  }

  .eco__item-title{
    font-size: 20px;
  }
  .eco__item-text{
    font-size: 16px;
    line-height: 23px;
  }

  .news__item-content{
    top: 10px;
    padding: 20px;
    margin: 15px;
  }
  .news__item-link{
    font-size: 17px;
    line-height: 25px;
  }

  .subscribe__inner{
    padding: 25px 20px;
  }

  .subscribe__text{
    font-size: 25px;
    line-height: 35px;
  }
  .input{
    padding: 10px 20px;
  }
  .input::placeholder{
    font-size: 15px;
    line-height: 25px;
  }

  .footer__inner{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__contact {
    width: 173px;
  }
  .footer__utility {
    width: 115px;
  }
  .footer__social{
    width: 100%;
    order: 2;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0;
  }
  .footer__logo {
    width: 130px;
  }
  .footer__social-list{
    display: flex;
    justify-content: space-around;
    gap: 5px;
  }
  .footer__social-img{
    width: 35px;
    height: 35px;
  }
  .footer__bottom-copyright{
    font-size: 13px;
  }
}   

@media (max-width: 420px){
  .top__inner {
    padding-top: 20px;
    padding-bottom: 57px;
  }
  .top-intro{
    margin-bottom: 5px;
  }
  .top-title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .intro {
    font-size: 23px;
    line-height: 43px;
  }
  .button-link{
    font-size: 17px;
    padding: 10px 55px 10px 19px;
  }

  .get__card-content{
    top: 25px;
    left: 15px;
  }

  .about__item-img{
    width: 60px;
  }

  .product__old-price{
    font-size: 12px;
  }
  .product__new-price{
    font-size: 16px;
  }
  .product__info-img{
    width: 50px;
  }

  .assortment{
    margin-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .header__cart{
    display: none;
  }
  .title{
    font-size: 25px;
    line-height: 33px;
  }
  .top-title{
    font-size: 33px;
    line-height: 45px;
  }

  .get-title{
    max-width: 150px;
    font-size: 20px;
    line-height: 29px;
  }

  .advantages__img {
    width: 40%;
    margin: 0;
  }

  .eco{
    margin-bottom: 60px;
  }
  .assortment__img {
    width: 100%;
  }
  .assortment__link{
    font-size: 20px;
    line-height: 30px;
  }

  .news__item-title{
    font-size: 18px;
  }
  .news__item-text{
    font-size: 14px;
    line-height: 26px;
  }

  .footer__logo{
    width: 100px;
  }
  .footer__contact-item, 
  .footer__utility-item{
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 20px;
  }
  .footer__contact{
    width: 152px;
  }
}

@media (max-width: 330px){
  .top__inner{
    padding-top: 35px;
    padding-bottom: 35px;
  }
}